.btn-style {
  background-color: Transparent;
  border-color: #ffffff;
}
.linkfont {
  color: #ffffff;
}
.item {
  color: #ffffff;
}
.item active {
    color: #ffffff;
}
.header {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}
.navbar {
  font-family: 'Cormorant Garamond', serif;
}
.carousel-caption {
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  color: #FFFFFF;
}
.contactheader {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}
.aboutheader {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}
.abouthead {
  font-family: 'Cormorant Garamond', serif;
  text-align: justify;
}
.aboutlist {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-size: 2rem;
}
.contactp {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}
.contactbutton {
  font-family: 'Cormorant Garamond', serif;
  background-color: Transparent;
  border-color: Transparent;
  position: center
}
#submission {
  text-align: center;
  }

.imagecontact {
     position: relative;
     width: 100%; /* for IE 6 */
  }

h3 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 1200;
    color: white;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    top: 115px;
    left: 0;
    width: 100%;
  }
  h4 {
      font-family: 'Cormorant Garamond', serif;
      font-weight: 1200;
      color: white;
      font-size: 2rem;
       position: absolute;
       text-align: center;
       top: 200px;
       left: 0;
       width: 100%;
    }

p2{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 1200;
  color: white;
  position: absolute;
  font-size: 2rem;
  top: 250px;
  left: 0;
  width: 100%;
  }
